<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
    <form id="disForm" name="disForm" class="form-horizontal" method="POST">
        <div class="form-group">
            <label class="col-lg-2 control-label redstar">商品名称</label>
            <div class="col-lg-10">
                <select class="form-control m-b" ng-model="infoList.commodity_id" required>
                    <option value="0" ng-selected="infoList.commodity_id == undefined ? 'selected' : null">--选择商品--</option>
                    <optgroup ng-repeat="(key,value) in commoList" label="{{key}}">
                        <option ng-repeat="datas in value" value="{{datas.id}}" ng-selected="infoList.commodity_id == datas.id ? 'selected' : null">{{datas.name}}</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label redstar">商品价格</label>
            <div class="col-lg-10">
                <input type="number" class="form-control" ng-model="infoList.price" placeholder="商品价格">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label redstar">生效起始时间</label>
            <div class="col-lg-4">
                <input type="text" class="form-control"ng-model="infoList.start_time" ui-datetime="datetime" placeholder="生效起始时间" ng-required="true"/>
            </div>
            <label class="col-lg-2 control-label redstar">生效结束时间</label>
            <div class="col-lg-4">
                <input type="text" class="form-control"ng-model="infoList.end_time" ui-datetime="datetime" placeholder="生效结束时间" ng-required="true"/>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">关闭</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">保存</button>
</div>