article {
    position: relative;
    height: 100%;
}

.content-wrapper {
    background: #f3f3f3;
}

.content-wrapper .focus-bar .header {
    padding: 10px 15px 5px 15px;
    background: #eee;
    border-bottom: 1px solid rgba(7, 17, 27, 0.2);
}

.content-wrapper .focus-bar {
    background: #fff;
    margin-bottom: 10px;
}

.content-wrapper .focus-bar .header .title {
    display: inline-block;
    vertical-align: top;
    line-height: 14px;
    font-size: 14px;
    color: rgba(7, 17, 27, 0.6);
}

.content-wrapper .focus-bar .bar-wrapper {
    padding: 5px 10px;
    font-size: 0;
}

.content-wrapper .focus-bar .bar-wrapper .bar-item {
    position: relative;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}

.content-wrapper .focus-bar .bar-wrapper .bar-item .bar-content {
    display: flex;
    margin: 5px;
    background: #eee;
    padding: 10px 8px;
    border: 1px solid rgba(7, 17, 27, 0.2);
    border-radius: 3px;
}

.content-wrapper .focus-bar .bar-wrapper .bar-item .name {
    display: inline-block;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 16px;
    font-size: 16px;
}

.content-wrapper .focus-bar .bar-wrapper .bar-item .detail {
    display: inline-block;
    flex: 1;
    margin-top: 6px;
    text-align: right;
    line-height: 12px;
    font-size: 12px;
    color: rgba(7, 17, 27, 0.6);
}

.expand-all {
    height: 25px;
    padding-top: 5px;
    text-align: center;
}

.expand-all p {
    display: inline-block;
    line-height: 12px;
    font-size: 12px;
    color: rgba(7, 17, 27, 0.5);
}

.content-wrapper .recommend-bar {
    background: #fff;
}

.content-wrapper .recommend-bar .header {
    margin: 10px 15px 5px 15px;
    padding: 10px 0 5px 0;
    border-bottom: 1px solid rgba(7, 17, 27, 0.2);
}

.content-wrapper .recommend-bar .header .title {
    display: inline-block;
    vertical-align: top;
    line-height: 13px;
    font-size: 13px;
    color: rgba(7, 17, 27, 0.6);
}

.content-wrapper .recommend-bar .header .operate {
    display: inline-block;
    line-height: 13px;
    font-size: 13px;
    float: right;
    color: #117D94;
}

.content-wrapper .recommend-bar .bar {
    position: relative;
    padding: 5px 15px;
}

.content-wrapper .recommend-bar .bar .bar-item {
    display: inline-block;
    width: 70%;
}

.content-wrapper .recommend-bar .bar .bar-wrapper {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(7, 17, 27, 0.2);
}

.content-wrapper .recommend-bar .bar:last-child .bar-wrapper {
    border-bottom: none;
}

.content-wrapper .recommend-bar .bar .bar-item .title {
    line-height: 24px;
    font-size: 16px;
}

.content-wrapper .recommend-bar .bar .bar-item .detail {
    line-height: 15px;
    font-size: 12px;
    margin-top: 5px;
    color: rgba(7, 17, 27, 0.5)
}

.content-wrapper .recommend-bar .bar .operate {
    position: absolute;
    display: inline-block;
    right: 15px;
    top: 15px;
}

.content-wrapper .recommend-bar .bar .operate .focus-btn {
    padding: 5px 10px;
    color: #fff;
    background: #117D94;
    border-radius: 3px;
    line-height: 15px;
    font-size: 15px;
}

.content-wrapper .recommend-bar .bar .operate .focused-btn {
    padding: 5px 10px;
    color: #ea0707;
    background: #cccccc;
    border-radius: 3px;
    line-height: 15px;
    font-size: 15px;
}

.user-wrapper .header {
    position: relative;
    display: flex;
    padding: 15px;
    background: #fff;
}

.user-wrapper .header .avatar-wrapper {
    display: inline-block;
    flex: 0 0 60px;
    width: 60px;
    margin-right: 15px;
}

.user-wrapper .header .avatar-wrapper .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-wrapper .header .name {
    display: inline-block;
    flex: 1;
    margin: auto 0;
    line-height: 16px;
    font-size: 16px;
}

.user-wrapper .nav-wrapper .tabbar {
    margin-top: 5px;
}

.user-wrapper .nav-wrapper .tabbar li {
    background: #fff;
}

.user-wrapper .post-content {
    padding: 10px 15px;
    margin-bottom: 48px;
    background: #fff;
}

.user-wrapper .post-content .list-item:not(:first-child) {
    padding-top: 10px;
}

.user-wrapper .post-content .list-item:not(:last-child) {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(7, 17, 27, 0.1);
}

.user-wrapper .post-content .list-item .title {
    padding: 8px 0;
    line-height: 16px;
    font-size: 16px;
}

.user-wrapper .post-content .list-item .content {
    margin-top: 5px;
    line-height: 18px;
    font-size: 15px;
    color: rgba(7, 1, 27, 0.8);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    word-break: break-all;
}

.user-wrapper .post-content .list-item .content img{
    max-width: 100px;
    max-height: 100px;
}

.user-wrapper .post-content .list-item .info {
    margin-top: 15px;
    line-height: 13px;
    font-size: 13px;
    color: rgba(7, 1, 27, 0.5);
}

.user-wrapper .collect-content .bar,
.user-wrapper .focus-content .bar,
.user-wrapper .message-content .message {
    background: #fff;
}

.user-wrapper .focus-content .bar .title,
.user-wrapper .focus-content .person .title,
.user-wrapper .message-content .message .title {
    padding: 10px 5px;
    line-height: 15px;
    font-size: 15px;
    color: rgba(7, 17, 27, 0.6);
    background: #fafbfc;
    border-bottom: 1px solid rgba(7, 17, 27, 0.1);
}

.user-wrapper .collect-content .bar .bar-list,
.user-wrapper .focus-content .bar .bar-list {
    padding: 10px 5px;
    border-bottom: 1px solid rgba(7, 17, 27, 0.1);
}

.user-wrapper .collect-content .bar .bar-list .name,
.user-wrapper .focus-content .bar .bar-list .name {
    line-height: 16px;
    font-size: 16px;
}

.user-wrapper .collect-content .bar .bar-list .detail,
.user-wrapper .focus-content .bar .bar-list .detail {
    text-align: right;
    line-height: 13px;
    font-size: 13px;
    color: rgba(7, 17, 27, 0.5);
}

.user-wrapper .fans-content .person ul,
.user-wrapper .focus-content .person ul {
    font-size: 0;
}

.user-wrapper .fans-content .person .person-list,
.user-wrapper .focus-content .person .person-list {
    position: relative;
    display: inline-block;
    padding: 15px 0;
    box-sizing: border-box;
    width: 33.33%;
    background: #fff;
    border-bottom: 1px solid rgba(7, 17, 27, 0.1);
    border-right: 1px solid rgba(7, 17, 27, 0.1);
}

.user-wrapper .fans-content .person .person-list .avatar,
.user-wrapper .focus-content .person .person-list .avatar {
    width: 50px;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
}

.user-wrapper .fans-content .person .person-list .avatar img,
.user-wrapper .focus-content .person .person-list .avatar img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-wrapper .fans-content .person .person-list .name,
.user-wrapper .focus-content .person .person-list .name {
    line-height: 24px;
    font-size: 15px;
    text-align: center;
}

.user-wrapper .message-content {
    padding-bottom: 48px;
}

.user-wrapper .message-content .msg-list {
    padding: 8px;
    border-bottom: 1px solid rgba(7, 17, 27, 0.1);
}

.user-wrapper .message-content .msg-list .send {
    line-height: 12px;
    font-size: 12px;
    color: rgba(7, 1, 27, 0.5);
}

.user-wrapper .message-content .msg-list .detail {
    display: inline-block;
    vertical-align: top;
    max-width: 70%;
    margin-top: 5px;
    line-height: 13px;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-wrapper .message-content .msg-list .date {
    display: inline-block;
    float: right;
    margin-top: 5px;
    line-height: 12px;
    font-size: 12px;
    color: rgba(7, 1, 27, 0.5);
}

.user-wrapper .message-content .msg-list .date .status {
    vertical-align: top;
    color: rgb(240, 20, 20);
}

.footer-wrapper {
    position: fixed;
    bottom: 0;
}

.footer-wrapper .background {
    background: #117D94;
}

.footer-wrapper .tabbar.reverse .tab {
    background: #117D94;
}

.footer-wrapper .tabbar.reverse .tab a {
    display: block;
    color: #fff;
}

.footer-wrapper .tabbar.reverse .tab.active {
    background: #fff;
}

.footer-wrapper .tabbar.reverse .tab.active a {
    color: #117D94;
}

.dropload-load .loading {
    border-bottom-color: #666;
}

.loading:before, .loading:after {
    width: 0;
}

.no-content {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: rgba(7, 17, 27, 0.6);
}