.post_bar .title{text-align: center;color: #fff;padding-right: 42px;}
.titlebar-button .icon{
    color: #fff;
}
.group{
    padding: 10px;
}
.post_bar{
    margin-top: 0;
}
.post_bar .portrait{
    width: 36px;
    height: 36px;
    border-radius: 3px;
}
.post_bar .bar_name{
    font-size: 16px;
    margin: 0 8px;
    font-family: '宋体';
    font-weight: bold;
}
.post_bar .focus{
    font-size: 13px;
    color: #999;
    margin-left: 10px;
}
.post_bar .focus span{
    color: #f15a23;
}
.post_bar .icon-arrowright{
    position: absolute;
    right: 8px;
    margin-top: 7px;
    color: #888;
}

/*帖子发布详情*/
.post_info .post_content{
    color: #333;
    font-size: 16px;
    line-height: 24px;
    margin: 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-width: 250px;
}
.post_info .icon-heart-fill{
    position: absolute;
    color: #ddd;
    right: 10px;
    margin-top: 6px;
}
.post_info .publisher_portrait{
    width: 36px;
    height: 36px;
    float: left;
}
.post_info .publisher_info{
    float: left;
    margin-left: 13px;
}
.post_info .publisher_info a{
    display: block;
}
.post_info .publisher_info span{
    font-size: 12px;
    color: #888;
}
.post_info .publisher_info span:last-child{
    margin-top: 2px;
    margin-left: 5px;
}

.post_info .content{
    font-size: 15px;
    margin: 8px 0;
    word-break: break-word;
    color: #626466;
    padding-left: 0;
    font-family: '宋体';
    line-height: 28px;

}

/*评论列表*/
.evaluations .portrait{
    float: left;
}
.evaluations .evaluate_content{
    display: block;
    font-size: 14px;
    margin: 8px 0;
    color: #313233;
    line-height: 150%;
    word-break: break-word;
    padding-left: 48px;
}
.evaluations .replay_btn{
    font-size:13px;
    position: absolute;
    margin-top: -30px;
    right: 15px;
    color: #117d94;
}
.evaluations .evaluate_lists{
    margin-left: 48px;
    background-color: #f9f9f9;
    padding-left: 10px;
}
.evaluations .evaluate_lists .publish_time{
    font-size: 12px;
    color: #aaa;
}
.evaluations .pagenation{
    margin: 5px 0;
    padding-top: 12px;
    position: relative;
}
.evaluations .pagenation a{
    padding: 3px 10px;
    border-radius: 3px;
    height: 28px;
}
.evaluations .pagenation a:last-child{
    position: absolute;
    right: 0px;
}
.evaluations li{
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
.evaluations .evaluate_lists li{
    border:none;
}
.evaluations .evaluate_lists .replay_to_replay{
    font-size: 14px;
}

.post_info img{
    max-width: 300px;
    max-height: 300px;
}

/*推荐帖子*/
.recommend_post li:first-child{
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.recommend_post li:first-child span{
    font-size: 17px;
    color: #20aeff;
}
.recommend_post li:not(first-child){
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.recommend_post .portrait{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    float: left;
}
.recommend_post .post_name{
    margin-left: 13px;
    font-size: 16px;
}
.recommend_post .description{
    margin-left: 13px;
    margin-top: 6px;
    font-size: 13px;
    color: #999;
    line-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/*点赞回复*/
.replay{
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    background-color: #f0f2f5;
    text-align: center;
}
.replay span{
    border: 1px solid #ddd;
    padding: 3px 10px;
    border-radius: 3px;
    color: #666;
}

.replay span:last-child{
    /*margin-left: 66px;*/
}

/*发表回复*/
.replay_page{
    padding-bottom: 50px;
    margin-top: 43px;
}
.replay_page .to_user_name{
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
}
.replay_page .content{
    min-height: 100px;
    width: 94%;
    border-color: #eee;
    padding: 10px;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
}
.replay_page .publish_replay{
    border: 1px solid;
    padding: 3px 10px;
    margin-top: 10px;
    border-radius: 3px;
    position: absolute;
    right: 10px;
}

section{
    position: fixed !important;
}



