/*header*/
header #logo{
    margin-left: 70px
}
header #logo img{

}
header .input_search{
    width: 672px;margin: 16px 0 0 36px
}
header #search-btn{
    border-radius: 0;position: absolute;
}

#page-content .row-fluid {
    display: flex;
    border: 1px solid rgba(7, 17, 27, 0.2);
}

/*个人信息*/
.personal_info{
    flex: 0 0 220px;
    background-color: #f9f9f9;
    min-height: 500px;
    width: 220px;
    display: inline-block;
    float: left;
    overflow: hidden;
    zoom: 1
}

.personal_info hr {
    border-top: 1px solid #f9f9f9;
}

.personal_info .personal_box span:first-child{
    font-family: '黑体';
    font-weight: bold;
}

.head_portrait {
    display: flex;
}

.head_portrait img{
    width: 80px;
    height: 80px;
    border: 1px solid #aaa;
    padding: 3px;
}

.personal-detail {
    flex: 1;
    margin-left: 10px;
}

.personal-detail .name {
    font-size: 16px;
    font-weight: 700;
}

.personal-detail .gender {
    line-height: 20px;
    font-size: 14px;
    color: rgb(140, 153, 159);
}

.personal-detail .fans, .personal-detail .follow {
    line-height: 18px;
    font-size: 14px;
}

.personal-detail .fans a,
.personal-detail .follow a {
    color: #117d94;
}

.menu {
    margin-top: 20px;
}

.menu .menu-item {
    margin-left: 10px;
    padding: 8px 0 8px 20px;
}

.menu .menu-item.active {
    width: 190px;
    margin-left: 10px;
    border: 1px solid #117d94;
    border-right: none;
    background: #fff;
}

.post_list_box{
    height: 500px;
    width: 907px;
    display: inline-block;
    margin-left: 10px;
}