<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">优惠券领取情况</h1>
</div>
<div class="wrapper-md">
    <div class="row">
        <div class="col-md-2">
            <div>
                <a class="btn m-b-xs btn-sm btn-success btn-addon" style="margin-left: 35px;width: 140px" href="#/app/coupon"><i class="fa fa-angle-double-left"></i>返回优惠券管理</a>
            </div>
        </div>
    </div>
</div>
<div ng-controller="couponuserCtrl">
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                优惠券领取情况表
            </div>
            <div class="panel-body b-b b-light">
                <span class="pull-right">
                    Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
                </span>
            </div>
            <div>
                <table class="table table-striped m-b-none" ui-footable="footable" data-filter="#filter">
                    <thead>
                    <tr>
                        <th>
                            用户名
                        </th>
                        <th>
                            手机号
                        </th>
                        <th>
                            优惠券名称
                        </th>
                        <th>
                            优惠券状态
                        </th>
                        <th>
                            领取时间
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in couponuserList">
                        <td>
                            <i class="icon-symbol-male" style="color: #00a8f3" ng-if="data.gender == 1"> </i>
                            <i class="icon-symbol-female" style="color: #9289ca" ng-if="data.gender == 0"></i>
                            {{data.username}}
                        </td>
                        <td>{{data.phone}}</td>
                        <td>{{data.discount_coupon_name}}</td>
                        <td>{{data.user_discount_coupon_status_name}}</td>
                        <td>{{data.user_discount_coupon_create_time}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav>
                <ul class="pager">
                    <li><a ng-click="firstPage()">第一页</a></li>
                    <li><a ng-click="previousPage()">上一页</a></li>
                    <li> 当 前 第 <input type="text" style="padding: 5px; width: 50px; text-align: center" ng-model="inputPage" ng-change="selectPage(inputPage)"> 页 / 共 {{totalPage}} 页 </li>
                    <li><a ng-click="nextPage()">下一页</a></li>
                    <li><a ng-click="lastPage()">最后一页</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>